<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157878797833-ib6osf95fptudffmfvtqc7qmaru6aof4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157878797833-ib6osf95fptudffmfvtqc7qmaru6aof4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>157878797833-jakreibs0bd7ojebscepe2ju2lm67fqg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-fdTiax-DJ2CGrqlryeI9LZOm-XYTWH0</string>
	<key>GCM_SENDER_ID</key>
	<string>157878797833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fly.drone</string>
	<key>PROJECT_ID</key>
	<string>fly-drone-253e2</string>
	<key>STORAGE_BUCKET</key>
	<string>fly-drone-253e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157878797833:ios:7dde5f53d5a0b852eb9ad8</string>
	<key>DATABASE_URL</key>
	<string>https://fly-drone-253e2-default-rtdb.firebaseio.com</string>
</dict>
</plist>